@import url(_vars.css);

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	place-items: center;
	background-color: var(--dark);
	font-family: Inter, Avenir, sans-serif;
}

